<div class="top-messege">
  <h1 class="welcome">
    <strong>welcome to <i class="fas fa-book"></i>Bookers !!</strong>
  </h1>
  <div>
    In <i class="fa-solid fa-book"></i>Bookers,you can share and exchange your opinions ,</br>
    inpressions , and emotions about various books!</br>
  </div>

  <div class="button">
    <%= link_to "Log in", new_user_session_path        ,class: "btn btn-primary"%>
    <%= link_to "Sign up", new_user_registration_path  ,class: "btn btn-success"%></br>
  </div>
</div>


</div>