<div class="container">
  <div class="row">
    <h1>welcome to <i class="fa-solid fa-book"></i>Bookers !!</h1>
  </div>
  <div class="row">
    <div>
      In <i class="fa-solid fa-book"></i>Bookers,</br>
      you can share and exchange your opinions , inpressions , and emotions</br>
      about various books!</br>
    </div>
  </div>

  
    <%= link_to "Log in", new_user_session_path        ,class: "btn btn-primary"%>
    <%= link_to "Sign up", new_user_registration_path  ,class: "btn btn-success"%></br>
    

</div>