// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.top-messege{
  text-align: center;
  font-size: 30px;
}

.about-messege{
  text-align: center;
  font-size: 30px;
   margin: 35px;
}

.welcome{
  margin: 35px;
}

.button{
  margin: 100px auto 20px;
}